
/* This controls the appearance of the tree pane on the left.
	For ExtSpect.getUseTreeWithLines() = true
	To keep the lines on the left more or less connected,
	the height-related values should not be commented out.
*/

#es-treenavigationview .x-list-item-label ,
#es-treenavigationview .x-list-item
{  font-family : 'Arial Narrow' , sans-serif ;
	line-height : 1.1em ;
	min-height : 1.1em ;
	border-top : 0 ;
	border-bottom : 0 ;
	padding-top : 0 ;
	padding-bottom : 0 ;
	margin-top : 0 ;
	margin-bottom : 0 ;
}

/* This controls the appearance of the inspector pane on the right.
	It duplicates the look of the tree pane.
	You may be comment it out if you prefer a standard list appearance,
	or set any of the values to whatever you think works well.
*/
#es-objectnavigationview .x-list-item-label ,
#es-objectnavigationview .x-list-item
{  font-family : 'Arial Narrow', sans-serif ;
	line-height : 1.1em ;
	min-height : 1.1em ;
	border-top : 0 ;
	border-bottom : 0 ;
	padding-top : 0 ;
	padding-bottom : 0 ;
	margin-top : 0 ;
	margin-bottom : 0 ;
}
